body{     font-family: Arvo, serif;     background: url(bgdocker.jpg) no-repeat center center;     background-attachment: fixed;     background-size: cover; } 
 
/*Style brand*/ .logo{     height: 30px;    } 
 
/*Style navigation bar*/ .navbar-inverse{     background: rgba(40,40,54,0.5);    } 
 
.nav li{     color: #fff;     font-size: 17px;     margin-right: 35px;     padding: 10px 0; }   
 
.nav li:hover{     border-bottom: 1px solid #00FFB8;      padding-bottom: 9px;     cursor: pointer; }  
 
/*Style jumbotron*/ .jumbotron{     background-color: transparent;     color: #fff;     text-align: center;     margin: 0; ;    padding: 10px;     letter-spacing: 1.5px;} 

 
/*limit the width of the icons section*/ .container{      max-width: 1000px;    } /*Style icons section using bootstrap grid system*/ 
.bodyimage{     height:300px; width:300px    } 
 
.col-md-4{     text-align: center;     color:#fff; } 
 
.icons p{     font-size: 15px; color: aliceblue;     
} 
.icons h2{ color: aliceblue;}

    /*Style contact button*/ .contact{     text-align: center;   margin-left: 0px;  margin-top: 90px;     margin-bottom: 100px; } 
 
.btn{     background-color: rgb(103,99,205);     border: none;     border-radius: 10px;     color: #fff;     font-size: 18px;     padding: 10px 30px;     letter-spacing:.1px; } 
 
.btn:hover{     background-color: rgba(0, 0, 0, 0.5);      color: #fff;     border: none; } /*Style footer*/ .footer{   margin-top: 104px;  background-color: rgba(0, 0, 0, 0.5);      color: grey;     font-size: 15px;     padding: 10px 0; } /*use media queries to change icons size in small devices*/ @media (max-width: 768px){     
}
.icons{
    margin-top: 100px;
}

.waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #e2e3f2;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

  waviy.h1 {
    color: #333;
    font-family: tahoma;
    font-size: 30px;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 450px;
  }
  
  h1 span {
    font-size: 30px;
    
  }
  
  .message {
    background-color: yellow;
    color: #333;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 370px;
    animation: openclose 5s ease-in-out infinite;
  }
  
  .word1, .word2, .word3 {
    font-family: tahoma;
  }
  
  @keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 230px;
    }
    30% {
      top: 0.2rem;
      width: 230px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
      
    }
    48% {
      top: -4.5rem;
      width: 190px;
    }
    62% {
      top: -4.5rem;
      width: 190px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 285px;
    }
    95% {
      top: -9rem;
      width: 285px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }
